/* === FONT FACE === */

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/proxima-nova/light.woff');
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: normal;
    src: url('../fonts/proxima-nova/regular.woff');
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/proxima-nova/semi-bold.woff');
}

@font-face {
    font-family: "Proxima Nova";
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/proxima-nova/bold.woff');
}

/* === GLOBAL === */

:root {
    --green: #79b044;
    --salmon: #dd5638;
    --blue-gray: #3e4249;
}

html {
    font-size: 18px;
}

body {
    padding-top: 50px;
    font-size: 1rem;
    font-family: "Proxima Nova";
    background: url('../img/tile.jpg') left top repeat;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;    
}

h1, h2, h3, h4, h5, h6, strong {
    font-weight: 600;
}

h1, h2, h3, h4, h5, h6, p, p.lead {
    margin: 0;
}

p + p {
    margin-top: 15px;
}

a {
    color: var(--salmon);
}

a:visited {
    color: var(--salmon);
}

a:hover {
    text-decoration: none;
    color: #c9302c;
}

.btn {
    font-weight: 600;
    color: white;
    min-width: 200px;
    border: none;
}

.btn:focus {
    outline: none !important;
}

.btn-danger {
    background-color: var(--salmon);
}

.btn-success {
    border: none;
    background-color: #79b044;
}

.btn-success:hover {
    background-color: #6a9b3d;
}

img {
    max-width: 100%;
}

section {
    padding: 60px 0;
}

section h2 {
    margin: 20px 0 40px;
}

section h3 {
    margin: 30px 0 15px;
}

.section-header {
    text-align: center;
}

blockquote {
    border: none;
    margin: 0;
    padding: 0;
    font-style: italic;
    text-align: left;
}

blockquote cite {
    color: #777;
    margin: 15px 0 0 0;
    display: block;
}

.modal-content {
    background: url('../img/tile.jpg') left top repeat;
}

.feature-image {
    width: 100%;
}

.page-title {
    text-align: center;
    color: white;
}

.feature-image-default {
    background: url('../img/stuff-feature.jpg') no-repeat left top fixed;
    background-size: cover;
}

.feature-image-default-alt {
    background: url('../img/hipster-stuff.jpg') no-repeat left top fixed;
    background-size: cover;
}

.form-control {
    border-color: #ddd;
    color: #666;
    font-size: 1rem;
    height: 40px;
    box-shadow: none;
}

.flex-row {
    display:  flex;
    flex-wrap:  wrap;
    margin: 0 -15px -30px;
}

.flex-row [class*="col-"] {
    margin-bottom:  30px;
}

/* === NAVBAR === */

.navbar {
    margin-bottom: 0;
    border: none;
}

/* === HERO === */

.hero {
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
    min-height: 500px;
    padding: 40px 0;
    color: white;
}

.hero-text {
    margin-top: 30px;
    text-align: center;
}

.hero-text h1 {
    margin-bottom: 10px;
}

#price-timeline {
    margin: 30px 0 65px;
    text-align: center;
}

.price {
    background-color: var(--blue-gray);
    padding: 15px 15px 35px;
    position: relative;
    border-radius: 4px;
    max-width: 200px;
    margin-left: auto;     
    margin-right: auto;     
}

.price:not(:last-child) {
    margin-bottom: 65px;
}

.price.active {
    background-color: var(--salmon);
}

.price span {
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 21px;
    font-weight: 600;
    text-align: center;
    background-color: #101010;
    position: absolute;
    bottom: -35px;
    left: 50%;
    margin-left: -35px;
}

.price h4 {
    margin-bottom: 10px;
}

.price h4 small {
    display: block;
    color: white;
    margin-top: 5px;
}

/* === OPTIN === */

#optin {
    background: #3e4249;
    padding: 20px 0;
    color: white;
}

#optin p {
    margin-bottom: 10px;
}

/* === WHO BENIFITS === */

#who-benefits {
    background-color: white;
}

/* === COURSE FEATURES === */

#course-features {
    background-color: #3e4249;
    color: white;
    text-align: center;
    padding-bottom: 30px;
}

#course-features h2,
#course-features h4 {
    font-weight: normal;
}

#course-features .feature {
    margin-bottom: 30px;
}

#course-features .feature i {
    margin-bottom: 10px;
}

/* CUSTOM ICONS SPRITES */

.ci {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer         { background-position: 0 0; }
.ci.ci-watch            { background-position: -40px 0; }
.ci.ci-calendar         { background-position: -80px 0; }
.ci.ci-community        { background-position: -120px 0; }
.ci.ci-instructor       { background-position: -160px 0; }
.ci.ci-device           { background-position: -200px 0; }

/* === PROJECT FEATURES === */

#project-features {
    text-align: center;
    padding-bottom: 30px;
}

#project-features .section-header {
    margin-bottom: 40px;
}

#project-features .section-header h2 {
    margin-top: 0;
    margin-bottom: 15px;
}

#project-features .feature {
    margin-bottom: 30px;
}

/* === FEATURETTE === */

#featurette {
    text-align: center;
    color: white;
    background: url('../img/stuff-bg.jpg') 50% 100% repeat fixed;
    background-size: cover;
}

#featurette h2 {
    margin-top: 0;
}

#featurette iframe {
    height: 240px;
}

/* === INSTRUCTOR === */

#instructor {
    background: white url('../img/brad-elvis.png') no-repeat;
    padding-bottom: 30px;
}

#instructor h2 {
    margin: 0 0 20px;
}

a.badge.social {
    width: 40px;
    height: 40px;
    line-height: 43px;
    border-radius: 50%;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 0 5px 20px 0;
    background-color: #ccc;
}

a.badge.social.twitter:hover {
    background-color: #55acee;
}

a.badge.social.facebook:hover {
    background-color: #3b5998;
}

a.badge.social.google-plus:hover {
    background-color: #db4b39;
}

#instructor .num {
    width: 140px;
    height: 140px;
    background-color: var(--salmon);
    border-radius: 50%;
    font-size: 24px;
    color: white;
    text-align: center;
    font-weight: 600;
    line-height: 24px;
    display: table;
    margin: 0 auto 30px;
}

#instructor .num-content {
    display: table-cell;
    vertical-align: middle;
}

#instructor .num-content span {
    display: block;
    font-size: 18px;
    font-weight: normal;
}

/* === KUDOS === */

#kudos {
    text-align: center;
}

#kudos h2 {
    margin-top: 0;
}

.testimonial:not(:last-child) {
    margin-bottom: 60px;
}

.testimonial img {
    border-radius: 50%;
}

/* === SIGNUP === */

#signup {
    background: url('../img/hipster-stuff.jpg') center center repeat fixed;
    padding: 60px 0;
    text-align: center;
    color: white;
}

#signup h2 {
    font-weight: normal;
    margin-top: 0;
}

#signup h2 strong {
    border-bottom: 2px solid var(--salmon);
}

/* === FOOTER === */

footer {
    background: #3e4249;
    color: white;
    padding: 20px 0;
    font-size: 12px;
}

footer p {
    margin: 0;
}

footer p a {
    display: block;
}

footer nav {
    text-align: center;
}

footer nav ul {
    margin: 0;
}

footer a:link, footer:visited {
    color: white;
}

footer a:hover,
footer li.signup-link a {
    color: var(--salmon);
}

footer li.signup-link a:hover {
    font-weight: 600;
}

/* === BLOG === */

.post,
.widget,
#comments {
    border:  1px solid #ddd;
    background-color:  white;
    border-radius:  4px;
    overflow:  hidden;
    position:  relative;
}

.post:not(:last-child),
.widget:not(:last-child) {
    margin-bottom: 30px;
}

.post-header, 
.post-excerpt,
.post-body,
.widget,
#comments .comments-wrap {
    padding:  20px;
}

.post-header {
    padding-right: 90px;
}

.post-header h1,
.post-header h3,
.widget h4 {
    margin: 0 0 15px;
    padding: 0 0 15px;
    border-bottom:  1px solid #ddd;
}

.post-header h1 {
    font-size: 24px;
}

.post-image {
    height: auto;
}

.post-details {
    font-size: 14px;
}

.post-comment-badge {
    position:  absolute;
    top: 25px;
    right:  20px;
    width:  70px;
    height:  70px;
    text-align:  center;
    background-color:  var(--green);
    border-radius: 50%;
    display:  table;
}

.post-comment-badge a {
    color:  white;
    display:  table-cell;
    vertical-align: middle;
    font-size:  22px;
    line-height:  1;
}

.post-comment-badge a i {
    display:  block;
    margin-bottom:  5px;
    font-size: 18px;
}

.post-comment-badge:hover {
    background-color: #8bc653;
}

.post-details span:not(:last-child) {
    margin-right:  15px;
}

.post-details span i {
    margin-right: 5px;
}

.post-body h4 {
    margin: 30px 0 15px;
}

.post-body p + p {
    margin-top: 15px;
}

/* WIDGET */

.widget ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.widget ul li:not(:last-child) {
    margin-bottom: 5px;
}

.widget ul li:hover {
    position: relative;
    left: 1px;
}

.widget button {
    margin-top: 15px;
}

/* COMMENTS */

#comments h3 {
    text-align: center;
    margin-top: 0;
}

#comments .comment h4 {
    margin-bottom: 5px;
    font-size: 1em;
}

#comments ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

#comments ol li.comment {
    background-color: rgba(0, 0, 0, 0.02);
    padding: 20px;
    border: 1px solid rgba(0, 0, 0, 0.03);
    border-radius: 4px;
}

#comments ol li.comment:not(:last-child) {
    margin-bottom: 20px;
}

#comments ol li ol.children {
    font-size: 0.96em;
    margin-top: 20px;
}

#leave-comment {
    padding-top: 30px;
    border-top: 1px solid #ddd;
    margin-top: 30px;
}

/* === RESOURCES === */

.resources-top-copy {
    margin-bottom: 30px;
}

.resource .btn {
    margin-top: 15px;
}

/* === MEDIA QUERIES === */

@media (min-width: 480px) {
    .hero-text h1 {
        font-size: 2.5rem;
    }

    #price-timeline {
        display: flex;
        align-items: flex-start;
        justify-content: center;
    }

    .price {
        flex-basis: calc(100% / 3);
        max-width: calc(100% / 3);
    }

    .price:not(:last-child) {
        margin-bottom: 0;
        margin-right: 10px;
    }    
}

@media (min-width: 768px) {
    .hero-text h1 {
        font-size: 3rem;
    }

    .price:not(:last-child) {
        margin-right: 20px;
    }

    #optin p {
        margin-bottom: 0;
    }

    section {
        padding: 80px 0;
    }

    #course-features,
    #project-features,
    #instructor {
        padding-bottom: 50px;
    }
    
    #featurette iframe {
        height: 415px;
    }

    #instructor .num {
        font-size: 30px;
    }

    #instructor .num-content span {
        font-size: 20px;
    }

    #signup {
        padding: 100px 0;
    }
}

@media (min-width: 992px) {
    #instructor {
        background-position: right 0;
    }
}

@media (min-width: 1200px) {
    #instructor {
        background-position: 90% -10px;
    }

    #signup {
        padding: 140px 0;
    }    
}

@media (max-width: 1199px) {
    #instructor {
        background-position: right top;
    }    
}

@media (max-width: 991px) {
    #instructor {
        position: relative;
        z-index: 1;
    }

    #instructor::after {
        content: "";
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba(255,255,255,.9);
        z-index: -1;
    }    
}

@media (max-width: 767px) {
    .container {
        max-width: 480px;
    }

    p.lead {
        font-size: 1rem;
        font-weight: normal;
    }
    
    blockquote {
        margin-top: 20px;
    }

    footer {
        text-align: center;
    }

    footer nav {
        margin-top: 10px;
    }

    footer nav ul {
        margin: 0 0 10px 0;
    }

    footer .pull-right {
        float: none !important;
        text-align: center;
    }

    #sidebar {
        margin-top: 30px;
    }
}

@media (max-width: 479px) {
    #instructor {
        background-position: left top;
    }    
}