:root {
    --green: #79b044;
    --salmon: #dd5638;
    --blue-gray: #3e4249;
}

/* === GENERAL === */

body {
    padding-top: 50px;
    font-size: 16px;
    font-family: 'proxima-nova', Raleway, Arial, Helvetica, sans-serif;
    background: url(../img/tile.jpg) top left repeat;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;    
}

/* === GLOBAL === */

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
}

h1 {
    font-size: 3em;
}

h1, h2 {
    margin: 0 0 40px;
}

h3 {
    margin: 20px 0;
}

h4 {
    font-size: 18px;
}

.btn {
    font-weight: bold;
}

.btn:focus {
    outline: none !important;
}

.btn-danger {
    background-color: var(--salmon);
    border-color: #d95131;
}

.btn-success {
    border: none;
    background-color: #79b044;
}

.btn-success:hover {
    background-color: #6a9b3d;
}

img {
    max-width: 100%;
}

section {
    padding: 80px 0;
}

section h2 {
    margin: 20px 0 40px;
}

section h3 {
    margin: 30px 0 10px;
}

.section-header {
    text-align: center;
}

blockquote {
    border: none;
    padding: 0;
    font-style: italic;
    text-align: left;
}

blockquote cite {
    color: #777;
    margin: 15px 0 0 0;
    display: block;
}

.modal-content {
    background: url('../img/tile.jpg') left top repeat;
}

/* === HERO === */

.hero {
    background: url('../img/hero-bg.jpg') 50% 0 repeat fixed;
    min-height: 500px;
    padding: 40px 0;
    color: white;
}

.hero-text {
    margin-top: 30px;
    text-align: center;
}

#price-timeline {
    margin: 30px 0 60px;
    text-align: center;
}

.price {
    display: inline-block;
    margin: 0 2% 0 0;
    width: 30%;
    background-color: var(--blue-gray);
    padding: 10px 20px 30px;
    position: relative;
    vertical-align: top;
}

.price.active {
    background-color: var(--salmon);
}

.price span {
    display: block;
    width: 70px;
    height: 70px;
    line-height: 70px;
    border-radius: 50%;
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    background-color: #101010;
    position: absolute;
    bottom: -30px;
    left: 50%;
    margin-left: -35px;
}

.price h4 {
    margin-bottom: 10px;
}

.price h4 small {
    display: block;
    font-weight: bold;
    color: inherit;
}

/* === OPTIN === */

#optin {
    background: #3e4249;
    padding: 20px 0;
    color: white;
    font-size: 1.2em;
}

/* === WHO BENIFITS === */

#who-benefits {
    background-color: white;
}

/* === COURSE FEATURES === */

#course-features {
    background-color: #3e4249;
    color: white;
    text-align: center;
}

/* CUSTOM ICONS SPRITES */

.ci {
    display: inline-block;
    width: 40px;
    height: 40px;
    background: url('../img/icon-sprite.png') no-repeat;
}

.ci.ci-computer         { background-position: 0 0; }
.ci.ci-watch            { background-position: -40px 0; }
.ci.ci-calendar         { background-position: -80px 0; }
.ci.ci-community        { background-position: -120px 0; }
.ci.ci-instructor       { background-position: -160px 0; }
.ci.ci-device           { background-position: -200px 0; }

/* === PROJECT FEATURES === */

#project-features {
    text-align: center;
}

/* === FEATURETTE === */

#featurette {
    text-align: center;
    color: white;
    background: url('../img/stuff-bg.jpg') 50% 100% repeat fixed;
    background-size: cover;
}

/* === INSTRUCTOR === */

#instructor {
    background: white url('../img/brad-elvis.png') 90% -10px no-repeat;
}

#instructor h2 {
    margin: 0 0 20px;
}

a.badge.social {
    width: 40px;
    height: 40px;
    line-height: 40px;
    border-radius: 50%;
    padding: 0;
    font-size: 18px;
    color: white;
    text-align: center;
    margin: 0 5px 20px 0;
    background-color: #ccc;
}

a.badge.social.twitter:hover {
    background-color: #55acee;
}

a.badge.social.facebook:hover {
    background-color: #3b5998;
}

a.badge.social.google-plus:hover {
    background-color: #db4b39;
}

#instructor .num {
    width: 140px;
    height: 140px;
    background-color: var(--salmon);
    border-radius: 50%;
    font-size: 30px;
    color: white;
    text-align: center;
    font-weight: bold;
    line-height: 24px;
    display: table;
}

#instructor .num-content {
    display: table-cell;
    vertical-align: middle;
}

#instructor .num-content span {
    display: block;
    font-size: 20px;
    font-weight: normal;
}

/* === KUDOS === */

#kudos {
    text-align: center;
}

.testimonial:not(:last-child) {
    margin-bottom: 60px;
}

.testimonial img {
    border-radius: 50%;
}

/* === SIGNUP === */

#signup {
    background: url('../img/hipster-stuff.jpg') center center repeat fixed;
    padding: 140px 0;
    text-align: center;
    color: white;
}

#signup h2 {
    font-weight: normal;
}

#signup h2 strong {
    border-bottom: 2px solid var(--salmon);
}